/* Global variables */
:root {
    /* Primary */
    --ishmael-blue: #1D63ED;
    --queequeg-blue: #00084D;
    --pequod-blue: #8BC7F5;

    /* Secondary */
    --heathcliff-purple: #7D2EFF;
    --ricardo-blue: #0C49C2;
    --indigo-elder-blue: #1C90EC;
    --stubb-blue: #A2BEF6;
    --pip-blue: #E5F2FC;
    --docker-gradient: linear-gradient(90deg, var(--queequeg-blue), var(--ishmael-blue));

    /* Accent */
    --starbuck-black: #17191E;
    --mermaid-gray: #393f49;
    --ahab-gray: #81838F;
    --vergilius-gray: #e1e2e6;
    --charon-gray: #C4C8D1;
    --smee-gray: #EFEFF2;
    --pallid-white: #F5FAFE;
    --pilot-white: #F9F9FA;

    --ahab-gray-50: rgba(129, 131, 143, 50%);

    /* Confirm */
    --zayin-green: #2E7F74;
    --zayin-green2: #3BA08D;

    /* Notice */
    --he-yellow: #B0A600;
    --he-yellow2: #DDC500;

    /* Warning */
    --aleph-red: #a03b4e;
    --aleph-red2: #d00e17;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 600;
}

* {
    font-family: Roboto, sans-serif;
}

/*
======================
        GLOBAL
======================
*/

h1, h2, h3, h4, h5 {
    font-family: Poppins, sans-serif;
}

h1 {
    color: var(--queequeg-blue);
    font-weight: bold;
    font-size: clamp(32px, 7vw, 100px);
    text-align: center;
    line-height: 1em;
}

h2 {
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    background: var(--docker-gradient);
    background-clip: text;
    font-size: 24px;
    letter-spacing: -1.25px;
    display: inline-block;
}

h3 {
    font-weight: bold;
    font-size: clamp(32px, 7vw, 60px);
    color: black;
}

h4 {
    font-weight: bold;
    font-size: clamp(32px, 7vw, 50px);;
    color: var(--queequeg-blue);
}

h5 {
    font-weight: 500;
    font-size: 20px;
    color: var(--queequeg-blue);
}

p {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: var(--mermaid-gray);
}

.btn-selected {
    color: white;
    background-color: var(--ishmael-blue);
    border-width: 2px;
    border-color: var(--ishmael-blue);
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    padding: .6rem 1.2rem;
}

.btn-selected:hover {
    color: white;
    background-color: var(--ricardo-blue);
    border-color: var(--ricardo-blue);
}

.btn-normal {
    color: var(--starbuck-black);
    background-color: white;
    border-width: 2px;
    border-color: var(--charon-gray);
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    padding: .6rem 1.2rem;
}

.btn-normal:hover {
    border-color: var(--charon-gray);
    background-color: var(--smee-gray);
    color: var(--starbuck-black);
}

.btn-warning {
    color: var(--starbuck-black);
    background-color: white;
    border-width: 0px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    padding: .6rem 1.2rem;
}

.btn-warning:hover {
    color: white;
    background-color: var(--aleph-red2);
}

.btn-cookies {
    color: var(--ishmael-blue);
    background-color: var(--smee-gray);
    border-color: var(--ishmael-blue);
    font-size: small;
    border-radius: 0px;
    padding: .5rem 1.5rem;
}

.btn-cookies:hover {
    background-color: var(--ishmael-blue);
    color: white;
}

.btn-pilled {
    border-radius: 100px;
    border-width: 0px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .25);
}

.btn svg {
    width: 25px;
    fill: var(--ishmael-blue);
}

.btn-selected svg {
    fill: white;
}

.undraggable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.lead {
    color: var(--queequeg-blue);
    font-weight: 500;
    font-size: clamp(18px, 4vw, 24px);
}

a.arrow {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease;
    color: var(--ishmael-blue);
}

a.arrow:hover {
    text-decoration: underline;
    color: var(--queequeg-blue);
}

/*
======================
        HEADER
======================
*/

header {
    border-bottom: 2px solid var(--charon-gray);
    background-color: white;
    transition: 0.3s ease;
}

header.hidden {
    transform: translateY(-100%);
}

header .navbar-brand img {
    height: 35px;
}

header .navbar-nav > li > a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

header .navbar-nav > li > a:hover {
    text-decoration: none;
    color: black;
}

header .dropdown-toggle::after {
    display: none;
}

header .dropdown-chevron {
    width: 1em;
    transition: 0.3s ease;
}

header .show > .dropdown-chevron {
    transform: rotate(180deg);
}

header .navbar-right svg {
    height: 30px;
}

.profile-picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    outline: 5px solid transparent;
    transition: 0.3s ease;
}

.profile-picture:hover {
    outline-color: rgba(29, 99, 237, .25);
}

.bg-ishmael {
    background-color: var(--ishmael-blue);
}

/*
======================
    HEADER PROFILE DROPDOWN
======================
*/

.profile-dropdown {
    display: inline-block !important;
}

.profile-dropdown .dropdown-menu {
    padding: 0px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

.profile-dropdown .picture-backdrop::before {
    content: '';
    position: absolute;
    background-image: url(/svg/DockerWave.svg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 0px 0px 5px 5px;
}

.profile-dropdown .picture-backdrop img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.profile-dropdown .username {
    text-align: center;
    margin-bottom: 0px;
    color: black;
}

.profile-dropdown .email {
    margin-bottom: 0px;
    text-align: center;
    font-size: 12px;
    color: var(--ahab-gray);
    width: 100%;
}

.profile-dropdown ul {
    list-style: none;
    margin: 0px;
    padding: .5rem;
}

.profile-dropdown li {
    border-radius: 5px;
}

.profile-dropdown .dropdown-item {
    transition: 0.3s ease;
    border-radius: 5px;
}

.profile-dropdown .dropdown-item i {
    transition: 0.3s ease;
}

.profile-dropdown .dropdown-item:hover {
    background-color: var(--smee-gray);
}

.profile-dropdown .dropdown-item:hover i {
    transform: rotate(20deg) scale(125%);
}

.profile-dropdown .dropdown-item.admin {
    color: var(--ishmael-blue);
}

.profile-dropdown .dropdown-item.signout {
    color: var(--aleph-red2);
}

/*
======================
        MAIN
======================
*/

main section:not(.abnormal):last-of-type {
    padding-bottom: calc(4% + 5vw - 4px);
}

.wave-separator::before {
    background-position: bottom;
    -webkit-mask-image: url(/svg/footerbefore.svg);
    mask-image: url(/svg/footerbefore.svg);
    -webkit-mask-position: bottom;
    mask-position: bottom;
    background-color: inherit;
    content: "";
    height: 5vw;
    -webkit-mask-size: auto 100%;
    mask-size: auto 100%;
    position: absolute;
    width: 100%;
    padding: 0px;
    z-index: 1;
    top: calc(-5vw + 2px);
    left: 0;
}

.wave-separator {
    position: relative;
}

/*
======================
        FOOTER
======================
*/

footer {
    background-color: var(--pilot-white);
    position: relative;
    padding: 3rem 6rem;
}

.footerUpper ul {
    list-style-type: None;
    padding: 0px;
    width: fit-content;
}

.footerUpper ul li:not(:last-child) { 
    margin-bottom: 5px;  
}

.footerUpper ul li.footerLinkListHead { 
    margin-bottom: 15px;
    font-family: Poppins, sans-serif;
    color: var(--mermaid-gray);
    font-size: 18px;
}

.footerUpper .footerLast { 
    width: fit-content;
}

.footerUpper a {
    text-decoration: none;
    color: var(--mermaid-gray);
}

.footerUpper a:hover {
    text-decoration: underline;
}

footer .logo {
    height: 40px;
}

.footerLower {
    border-top: 1px solid var(--smee-gray);
}

.footerLower ul {
    list-style-type: None;
    padding: 0px;
    margin: 0px;
}

.footerLower .socialMedia a {
    transition: 0.3s ease;
}

.footerLower .socialMedia a:hover {
    opacity: 0.5;
}

.footerLower .socialMedia svg {
    width: 30px;
}

.footerLower .copyright li {
    color: var(--mermaid-gray);
    font-size: 12px;
    position: relative;
}

.footerLower .copyright li a {
    text-decoration: underline;
    color: var(--mermaid-gray);
}

.footerLower .copyright li:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
}

.footerLower .copyright li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 50%;
    border-right: 1px solid var(--mermaid-gray);
}

/*
======================
    REVIEWS
======================
*/

.review {
    border-radius: 20px;
    max-width: 450px;
    background-color: var(--pallid-white);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .25);
    border-width: 0px;
}

.review img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
}

.review .card-title {
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: var(--docker-gradient);
    background-clip: text;
    width: fit-content;
}

.review .card-subtitle {
    color: var(--ishmael-blue) !important;
    font-size: 1.2rem;
}

.review .card-body {
    padding-left: 0px;
}

.review .card-text {
    color: var(--queequeg-blue);
}

/*
======================
    PRODUCTS
======================
*/

.product {
    max-width: 200px;
    border-radius: 15px;
    border-width: 0px;
    box-shadow: 0 1px 5px 0 var(--ahab-gray-50);
    background-color: var(--pallid-white);
    position: relative;
    overflow: hidden;
}

.product img {
    border-radius: 15px 15px 0px 0px;
}

.product .card-title {
    border-radius: 15px 15px 0px 0px;
    font-size: 24px;
    z-index: 2;
}

.product .card-subtitle {
    color: var(--ahab-gray);
    font-family: Poppins, sans-serif;
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 20px;
    z-index: 2;
}

.product .card-subtitle.crossed-out {
    text-decoration: line-through;
    color: var(--aleph-red2);
    font-size: 17px;
}

.product .card-subtitle.discounted {
    color: var(--ishmael-blue);
}

.product .typeicon {
    position: absolute;
    fill: var(--pequod-blue);
    stroke: var(--pequod-blue);
    stroke-width: 0px;
    opacity: 35%;
    max-width: 100px;
    bottom: 0;
    right: 0;
    transform: rotate(-15deg) translate(25%, 25%);
    z-index: 1;
}

.product .over18 {
    position: absolute;
    max-width: 40px;
    top: 0;
    right: 0;
    z-index: 2;
    transform: translate(-20%, 20%);
}

.product .saleicon {
    position: absolute;
    max-width: 50px;
    top: 0;
    right: 0;
    z-index: 2;
}

/*
======================
        HOMEPAGE
======================
*/

/*
======================
        BANNER
======================
*/

#home #banner {
    background-image: url(/svg/DockerWave.svg);
    background-position: center clamp(150px, calc(12vw + 100px), 600px);
    background-size: cover;
    background-repeat: no-repeat;
}

#home #banner .bannerContainer {
    width: 100%;
    height: fit-content;
    padding-bottom: 38%;
}

#home #banner .bannerContainer img {
    width: 60vw;
}

/*
======================
    WHAT IS DOCKEREATS
======================
*/

#home #whatis {
    background-color: var(--pilot-white);
    padding-top: 5vw;
    padding-bottom: 6vw;
}

#home #whatis .whatisBody {
    padding: 0px 7vw;
}

#home #whatis .whatisImage {
    border-radius: 20px;
    background-color: var(--pallid-white);
    border: 1px solid var(--charon-gray);
    min-height: 400px;
    height: auto;
}

#home #whatis .whatisImage img {
    width: 120%;
    transform: translate(10%, 10%);
}

/*
======================
    WHY ORDER DOCKEREATS
======================
*/

#home #whyorder {
    background-color: white;
    padding-top: 5vw;
    padding-bottom: 6vw;
}

#home #whyorder .siteNumbers h3 {
    margin-bottom: 0px;
    font-size: clamp(60px, 10vw, 80px);
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: var(--docker-gradient);
    background-clip: text;
    display: inline-block;
    line-height: 0.8em;
    margin-top: 2vw;
}

#home #whyorder .siteNumbers p {
    color: var(--queequeg-blue);
    font-size: 20px;
    margin-bottom: 0px;
}

/*
======================
    GET STARTED
======================
*/

#home #getstarted {
    position: relative;
    background-color: var(--smee-gray);
    padding-top: 5vw;
    padding-left: 7vw;
    padding-right: 7vw;
}

#home #getstarted h2 {
    width: fit-content;
}

#home #getstarted svg {
    width: 40px;
    stroke: var(--ishmael-blue);
    stroke-width: 1.5px;
}

#home #getstarted .filled {
    background-color: var(--ishmael-blue);
    border-radius: 24px;
    padding: 90px 60px;
}

#home #getstarted .filled h4, #home #getstarted .filled h5 {
    color: white;
}

#home #getstarted .filled .btn-selected {
    padding: .8rem 2rem;
    background-color: white;
    color: var(--ishmael-blue);
}

#home #getstarted .filled .btn-selected:hover {
    background-color: var(--smee-gray);
}

/*
======================
        PRODUCTS PAGE
======================
*/

/*
======================
        BANNER
======================
*/

#productlist #banner {
    background-color: var(--pilot-white);
}

/*
======================
        PRODUCT LIST
======================
*/

#productlist #list {
    background-color: white;
}

#productlist #list .categoryRow {
    background-color: white;
    padding-left: 7vw;
    padding-right: 7vw;
    position: relative;
}

#productlist #list .categoryRow.grayed {
    background-color: var(--pilot-white);
}

#productlist #list .categoryName {
    font-size: 28px;
}

#productlist #list .productsCategory {
    border-top: 1px solid var(--charon-gray);
}

#productlist #list .productsCategory .product img {
    transition: 0.3s ease;
}

#productlist #list .productsCategory .product:hover img {
    transform: scale(115%);
}

#productlist .listButtons form {
    border-radius: 100px;
    border-width: 0px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .25);
    color: var(--starbuck-black);
    background-color: white;
    padding: .6rem 1.2rem;
}

#productlist .listButtons form svg {
    stroke: var(--ishmael-blue);
    width: 30px;
}

#productlist .listButtons form input {
    background-color: transparent;
    padding: 0px;
    border: 0px;
    color: var(--starbuck-black);
    width: 100%;
}

#productlist .listButtons form input:focus {
    outline: none;
}

/*
======================
    SIGN IN PAGE
======================
*/

#signin, #signup {
    background-color: var(--pilot-white);
}

#signin a, #signup a {
    font-size: 14px;
    margin: 0px;
}

.sign .sign-cont {
    background-color: white;
    border: 1px solid var(--charon-gray);
    border-radius: 5px;
    width: 400px;
}

.sign .sign-cont.big {
    margin-top: 5rem;
}

.sign .sign-cont .logo {
    width: 80%;
}

.sign .sign-cont h1 {
    font-size: 24px;
    color: var(--starbuck-black);
    font-family: Roboto, sans-serif;
    font-weight: normal;
    margin: 0px;
}

.sign .sign-cont p {
    font-size: 14px;
    color: var(--starbuck-black);
    text-align: center;
    margin: 0px;
}

.sign .sign-cont form {
    width: 100%;
}

.inputDiv {
    width: 100%;
}

.inputDiv input {
    height: 52px;
    padding: 0px 16px;
    border: 1px solid var(--charon-gray);
    border-radius: 3px;
    width: 100%;
    transition: 0.2s ease;
    outline: 2px solid white;
}

input[type='submit'] {
    color: white;
    background-color: var(--ishmael-blue);
    border: 0px solid var(--ishmael-blue);
}

input[type='submit']:hover {
    background-color: var(--ricardo-blue);
}

.inputDiv label {
    position: absolute;
    left: 16px;
    top: 26px;
    padding: 1px 6px;
    color: var(--ahab-gray);
    background-color: white;
    transform: translateY(-50%);
    pointer-events: none;
    transform-origin: left center;
    transition: 0.2s ease;
}

.sign .sign-cont form input.error {
    border: 1px solid var(--aleph-red2);
}

.inputDiv label.error {
    color: var(--aleph-red2);
}

.inputDiv:focus-within label, .inputDiv input:not(:placeholder-shown) + label {
    transform: scale(0.8) translateX(-8px) translateY(calc(-36px - 50%));
}

.inputDiv:focus-within input {
    outline: 2px solid var(--ishmael-blue);
}

.inputDiv:focus-within input.error {
    outline: 2px solid var(--aleph-red2);
}

.inputDiv:focus-within label:not(.error) {
    color: var(--ishmael-blue);
}

.inputDiv .popup {
    font-size: 12px;
}

.inputDiv .popup.error {
    color: var(--aleph-red2);
}

.inputDiv .popup.info {
    color: var(--ishmael-blue);
    display: none;
}

.inputDiv:focus-within .popup.info {
    display: inline;
}

.sign .sign-cont a {
    font-weight: bold;
    width: fit-content;
}

.sign footer ul {
    list-style: none;
}

.sign footer ul li:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    position: relative;
}

.sign footer ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--charon-gray);
}

/*
======================
    404 PAGE
======================
*/

#notfound .notfoundbody {
    height: 80vh;
}

#notfound .notfoundbody img {
    width: 400px;
}

#notfound h1 {
    position: fixed;
    top: -9999px;
}

#notfound h3 {
    font-size: 40px;
}

#notfound h3, #notfound p {
    color: var(--queequeg-blue);
}

#notfound .notfoundbody .btn-normal {
    padding: .8rem 2.2rem;
}

/*
======================
    USER PAGE
======================
*/

#account h1 {
    font-size: 20px;
    color: var(--starbuck-black);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    margin-bottom: 0px;
}

#account .pfpbig, #edituser .pfpbig {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#account #options {
    padding-left: 7vw;
    padding-right: 7vw;
}

#account .option {
    border: 1px solid var(--charon-gray);
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}

#account .option:hover {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

#edituser #banner {
    background-color: var(--pip-blue);
}

#edituser #edit-cont {
    background-color: white;
}

#edituser #edit-cont input[type='file'] {
    display: none;
}

#edituser #edit-cont #preview-image-container {
    width: 150px;
    height: 150px;
}

#edituser #edit-cont #preview-image-label {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease;
    opacity: 0;
}

#edituser #edit-cont #preview-image-label:hover {
    opacity: 1;
}

#edituser #edit-cont #preview-image-label .label-bg {
    width: 100%;
    height: 100%;
    background: var(--queequeg-blue);
    opacity: .6;
    border-radius: 50%;
    position: absolute;
}

#edituser #edit-cont #preview-image-label svg {
    stroke-width: 2px;
    stroke: white;
    width: 50%;
    z-index: 1;
}

/*
======================
    BUILD PAGE
======================
*/

#build #container {
    background-image: url(/svg/DockerWave2.svg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 6vw;
}

#build #container-graph {
    background-color: var(--pallid-white);
    border: 20px solid var(--pequod-blue);
    border-radius: 50px;
    aspect-ratio: 1 / .75;
    overflow: hidden;
}

#build #container-graph #container-top {
    height: 40%;
}

#build #container-graph #container-bottom {
    height: 60%;
}

#build #container-graph .hidden {
    display: none;
}

#build #container-graph .typeicon {
    max-width: 100px;
    aspect-ratio: 1 / 1;
    transition: 0.3s ease;
    border: 0px;
    background-color: transparent;
    padding: 0px;
}

#build #container-graph .typeicon:hover {
    transform: scale(105%);
}

#build #container-graph .typeicon svg {
    fill: var(--pequod-blue);
    stroke-width: 0px;
    width: 100%;
    transition: 0.3s ease;
}

#build #container-graph .typeicon:hover svg {
    fill: var(--ishmael-blue);
}

#build #container-graph #container-dessert,
#build #container-graph #container-drink,
#build #container-graph #container-main,
#build #container-graph #container-branch {
    border: 0px solid var(--pequod-blue);
}

#build #container-graph #container-dessert {
    border-right-width: 10px;
    border-bottom-width: 10px;
}

#build #container-graph #container-drink {
    border-left-width: 10px;
    border-bottom-width: 10px;
}

#build #container-graph #container-main {
    border-right-width: 10px;
    border-top-width: 10px;
}

#build #container-graph #container-branch {
    border-left-width: 10px;
    border-top-width: 10px;
}

#build #container-graph .selected-product {
    max-width: 120px;
    border-radius: 25px;
    box-shadow: 0 1px 5px 0 var(--ahab-gray-50);
    transition: 0.3s ease;
    cursor: pointer;
}

#build #container-graph .selected-product:hover {
    transform: scale(105%);
}

#build #container-graph .selected-product-remove {
    color: var(--ishmael-blue);
    font-size: 30px;
    transform: translate(-55%, -40%);
    transition: 0.3s ease;
}

#build #container-graph .selected-product-remove:hover {
    color: var(--aleph-red2);
    transform: translate(-55%, -40%) scale(120%);
}

#build #building {
    background-color: white;
}

#build #building {
    position: relative;
    background-color: var(--smee-gray);
    padding-top: 5vw;
    padding-left: 7vw;
    padding-right: 7vw;
}

#build #building h2 {
    width: fit-content;
}

#build #building svg {
    fill: var(--ishmael-blue);
    stroke: var(--ishmael-blue);
    stroke-width: 0px;
    width: 40px;
}

/*
======================
    OVERLAY STUFF
======================
*/

#build .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: 0.3s ease;
    opacity: 1;
    visibility: visible;
}

#build .overlay.hidden {
    opacity: 0;
    visibility: hidden;
}

#build .overlay .overlay-modal {
    width: 80%;
    max-width: 1000px;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#build .overlay .overlay-modal .header {
    background-color: var(--ishmael-blue);
    border-radius: 50px 50px 0px 0px;
}

#build .overlay .overlay-modal .header .title svg {
    max-width: 65px;
    fill: white;
    stroke-width: 0px;
}

#build .overlay .overlay-modal .header h4 {
    color: white;
    margin: 0px;
}

#build .overlay .overlay-modal .header form {
    background-color: var(--ricardo-blue);
    border-radius: 10px;
    width: 40%;
    padding: 12px;
}

#build .overlay .overlay-modal .header form svg {
    stroke: white;
    width: 30px;
}

#build .overlay .overlay-modal .header input {
    background-color: transparent;
    padding: 0px;
    border: 0px;
    color: white;
    width: 100%;
}

#build .overlay .overlay-modal .header input::placeholder {
    color: var(--pequod-blue);
    opacity: .5;
}

#build .overlay .overlay-modal .header input:focus {
    outline: none;
}

#build .overlay .overlay-modal .overlay-content .row {
    height: 550px;
}

#build .overlay .overlay-modal .sidebar {
    background-color: var(--smee-gray);
    border-radius: 0px 0px 0px 50px;
}

#build .overlay .overlay-modal .list {
    background-color: white;
    border-radius: 0px 0px 50px 0px;
    padding: 1.5rem;
}

#build .overlay .overlay-modal .list .category-products:not(:last-of-type) {
    margin-bottom: 1.5rem;
}

#build .overlay .overlay-modal .list .category-products a {
    text-decoration: none;
}

#build .overlay .product {
    flex: 0 0 150px;
    transition: 0.3s ease;
}

#build .overlay .product:hover {
    transform: scale(105%);
}

#build .overlay .product .card-title {
    font-size: 17px;
}

#build .overlay .product .card-subtitle {
    font-size: 15px;
}

#build .overlay .product .card-subtitle.crossed-out {
    text-decoration: line-through;
    color: var(--aleph-red2);
}

#build .overlay .product .card-subtitle.discounted {
    font-size: 17px;
    color: var(--ishmael-blue);
}

/*
======================
    CART PAGE
======================
*/

#cart #banner {
    margin-bottom: 4vw;
}

#cart #order {
    padding-left: 5vw;
    padding-right: 5vw;
}

#cart #order .right {
    border-left: 2px solid var(--charon-gray);
}

#cart #order .section-title {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--charon-gray);
}

#cart #order .section-title svg {
    width: 50px;
}

#cart #order .section-title h2 {
    margin: 0px;
    font-size: 32px;
}

#cart #order .container-order, #cart #order .delivery-type  {
    min-width: 335px;
    width: 48%;
}

#cart #order .container-order-products {
    box-shadow: 0 1px 5px 0 var(--ahab-gray-50);
    border-radius: 30px 30px 0px 30px;
}

#cart #order .container-order img {
    max-width: 100px;
    border-radius: 20px;
    box-shadow: 0 1px 5px 0 var(--ahab-gray-50);
}

#cart #order .container-order .typeicon {
    position: absolute;
    fill: var(--pequod-blue);
    stroke: var(--pequod-blue);
    stroke-width: 0px;
    opacity: 35%;
    max-height: 90%;
    z-index: 1;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#cart #order .container-order .product-name {
    color: var(--queequeg-blue);
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    z-index: 2;
}

#cart #order .container-order .price {
    color: var(--ahab-gray);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    z-index: 2;
}

#cart #order .container-order .price.crossed-out {
    text-decoration: line-through;
    color: var(--aleph-red2);
    font-size: 15px;
}

#cart #order .container-order .price.discounted {
    color: var(--ishmael-blue);
}

#cart #order .container-order .main {
    background-color: var(--pallid-white);
    border-radius: 30px 30px 0px 0px;
}

#cart #order .container-order .branch {
    background-color: var(--pip-blue);
}

#cart #order .container-order .drink {
    background-color: var(--pallid-white);
}

#cart #order .container-order .dessert {
    background-color: var(--pip-blue);
    border-radius: 0px 0px 0px 30px;
}

#cart #order .bottom-tag {
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0 1px 5px 0 var(--ahab-gray-50);
}

#cart #order .total {
    background-color: var(--ishmael-blue);
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 500;
    border-radius: 0px 0px 0px 30px;
}

#cart #order .container-remove {
    background-color: var(--queequeg-blue);
    color: white;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 500;
    border-radius: 0px 0px 30px 0px;
    transition: 0.3s ease;
}

#cart #order .container-remove:hover {
    background-color: var(--aleph-red2);
}

.no-results span {
    color: var(--starbuck-black);
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 500;
}

#cart #order .delivery-type, #cart #order .coupon-container {
    box-sizing: border-box;
    border-radius: 30px;
    background-color: var(--smee-gray);
    transition: 1s ease;
    background-image: url(/svg/DockerWave2.svg);
    background-position: right 400px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 1px 5px 0 var(--ahab-gray-50);
}

#cart #order .delivery-type.selected {
    background-color: var(--pip-blue);
    background-position: right 80px;
}

#cart #order .delivery-type *, #cart #order .coupon-container * {
    transition: 0.3s ease;
}

#cart #order .delivery-type .lead, #cart #order .coupon-container .lead {
    font-family: Poppins, sans-serif;
    color: var(--starbuck-black);
    font-weight: 500;
    font-size: 38px;
}

#cart #order .delivery-type.selected .lead {
    color: var(--ishmael-blue);
}

#cart #order .delivery-type.selected label {
    color: white;
}

#cart #order .delivery-type .description, #cart #order .coupon-container .description {
    color: var(--ahab-gray);
    font-size: 18px;
    width: 70%;
}

#cart #order .inputs {
    width: 100%;
}

#cart #order input, #cart #order select {
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
}

#cart #order input:not([type='submit']), #cart #order select {
    border: 2px solid white;
    transition: 0.3s ease;
}

#cart #order input:not([type='submit']):focus, #cart #order select:focus {
    outline: 0px;
    border: 2px solid var(--ishmael-blue);
}

#cart #order input::placeholder {
    color: var(--charon-gray);
    opacity: 1;
}

#cart #order .input-container input {
    width: calc(50% - .25rem);
}

#cart #order .delivery-type .btn-selected {
    background-color: var(--queequeg-blue);
    border-color: var(--queequeg-blue);
}

#cart #order .delivery-type .btn-selected:hover {
    background-color: var(--ricardo-blue);
    border-color: var(--ricardo-blue);
}

#cart #order .payment-container {
    background-color: var(--pallid-white);
    border-radius: 30px;
    box-shadow: 0 1px 5px 0 var(--ahab-gray-50);
}

#cart #order .payment-container .container-data,
#cart #order .payment-container .total-container-price,
#cart #order .payment-container .total-price {
    font-weight: 500;
    color: var(--queequeg-blue);
    font-family: Poppins, sans-serif;
    font-size: 20px;
}

#cart #order .payment-container .product-data {
    color: var(--ahab-gray);
    font-family: Poppins, sans-serif;
    font-size: 14px;
}

#cart #order .payment-container .total-container-price {
    font-size: 25px;
}

#cart #order .payment-container .total-price {
    color: var(--ishmael-blue);
    font-size: 35px;
}

#cart #order .payment-container hr {
    border-color: var(--stubb-blue);
    opacity: .5;
    margin: 0px;
}

#cart #order .payment-container .added-extras {
    font-weight: 500;
    color: var(--queequeg-blue);
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

#cart #order .payment-container .added-extras.grayed {
    color: var(--ahab-gray);
}

#cart #order .payment-container .hidden {
    display: none !important;
}

#cart #order .payment-container .accordion-item {
    border-radius: 10px;
    border: 1px solid var(--charon-gray);
    overflow: hidden;
}

#cart #order .payment-container .accordion-header {
    background-color: var(--stubb-blue);
    border-radius: 10px 10px 0px 0px;
}

#cart #order .payment-container .accordion-button {
    padding: 10px;
    border-radius: 10px;
    color: var(--ishmael-blue);
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

#cart #order .payment-container .accordion-button:not(.collapsed) {
    background-color: var(--ishmael-blue);
    color: white;
}

#cart #order .payment-container .accordion-button:focus {
    box-shadow: none;
}

#cart #order .payment-container .accordion-button::after {
    content: none;
}

#cart #order .payment-container .accordion-button svg {
    width: 40px;
    margin-right: 10px;
}

#cart #order .payment-container .accordion-button:not(.collapsed) svg * {
    stroke: white;
}

#cart #order .payment-container .accordion-body {
    background-color: var(--stubb-blue);
    border-radius: 0px 0px 10px 10px;
}

#cart #order #buy-button {
    border-radius: 10px;
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-weight: 500;
}

/*
======================
    ORDER LISTING
======================
*/

#orders #banner, #sales #banner {
    background-color: var(--pilot-white);
}

#orders #list, #sales #list {
    background-color: white;
    padding-left: 10vw;
    padding-right: 10vw;
}

.order {
    background-color: var(--pallid-white);
    border-radius: 30px;
    box-shadow: 0 1px 5px 0 var(--ahab-gray-50);
}

.order .userdata {
    transform: translate(-5%, -10%);
}

.order .userdata img {
    border-radius: 100px;
    width: 120px;
    border: 10px solid var(--pequod-blue);
    z-index: 1;
}

.order .userdata .userdatatext .date {
    color: white;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 30px;
    background-color: var(--pequod-blue);
    padding: 10px 15px 10px 65px;
    border-radius: 0px 100px 100px 0px;
    margin-left: -60px;
}

.order .userdata .userdatatext .username {
    color: var(--queequeg-blue);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    background-color: var(--pip-blue);
    padding: 5px 20px 5px 65px;
    border-radius: 0px 0px 100px 0px;
    width: fit-content;
    margin-left: -60px;
}

.order .orderpills .orderpill, .sale .salepill {
    background-color: white;
    box-shadow: 0 1px 5px 0 var(--ahab-gray-50);
    border-radius: 100px;
    width: 200px;
}

.order .orderpills .orderpill svg, .sale .salepill svg {
    width: 40px;
}

.order .orderpills .orderpill span, .sale .salepill span {
    text-align: center;
    color: var(--queequeg-blue);
    font-family: Poppins, sans-serif;
    font-size: 20px;
}

.order .orderbottom {
    margin-top: 110px;
}

.order .ordercontainer {
    border: 6px solid var(--pequod-blue);
    border-radius: 15px;
    min-width: 150px;
    max-width: 150px;
}

.order .ordercontainer .row {
    border-radius: 10px;
    overflow: hidden;
}

.order .ordercontainer .dessert {
    border-right: 3px solid var(--pequod-blue);
    border-bottom: 3px solid var(--pequod-blue);
}

.order .ordercontainer .drink {
    border-left: 3px solid var(--pequod-blue);
    border-bottom: 3px solid var(--pequod-blue);
}

.order .ordercontainer .main {
    border-right: 3px solid var(--pequod-blue);
    border-top: 3px solid var(--pequod-blue);
}

.order .ordercontainer .branch {
    border-left: 3px solid var(--pequod-blue);
    border-top: 3px solid var(--pequod-blue);
}

.order .price, .sale .discount {
    background-color: var(--ishmael-blue);
    border-radius: 30px 0px 30px 0px;
    color: white;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--queequeg-blue);
    --bs-tooltip-color: var(--bs-white);
}

/*
======================
    ADMIN CONSOLE
======================
*/

#admin header {
    background: linear-gradient(90deg, var(--indigo-elder-blue) 0%, var(--ishmael-blue) 100%);
    border-width: 0px;
    padding: 22px 12vw;
}

#admin header .logo img {
    height: 35px;
    margin-top: -8px;
}

#admin header .logo-container span {
    background-color: var(--pallid-white);
    padding: 2px 6px;
    border-radius: 100px;
    color: var(--ricardo-blue);
    font-size: 10px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

#admin header a.icon {
    width: 30px;
    height: 30px;
}

#admin header svg {
    width: 30px;
    height: 30px;
    transition: 0.3s ease;
    border-radius: 100px;
    outline: 5px solid transparent;
}

#admin header a:hover svg {
    background-color: var(--ricardo-blue);
    outline-color: var(--ricardo-blue);
}

#admin h1 {
    font-size: 21px;
    color: black;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

#admin section {
    padding-left: 12vw;
    padding-right: 12vw;
}

#admin h4 {
    font-size: 18px;
    color: black;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

#admin .panel {
    border-radius: 4px;
    border: 1px solid var(--charon-gray);
    height: 250px;
    width: 365px;
    text-decoration: none;
    transition: 0.3s ease;
}

#admin .panel:hover {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

#admin .panel svg {
    width: 50px;
}

#admin .panel .panel-subtitle {
    font-size: 14px;
    color: black;
    font-family: Roboto, sans-serif;
    line-height: 15px;
}

#admin .panel .panel-title {
    font-size: 18px;
    color: black;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

#admin .panel .panel-description {
    font-size: 14px;
    color: var(--ahab-gray);
    font-family: Roboto, sans-serif;
}

#admin .panel .link-text {
    font-size: 14px;
    color: black;
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

#admin .panel .arrow {
    width: 30px;
}

#admin footer {
    background-color: var(--vergilius-gray);
}

#admin footer .footerLower {
    border-top: 1px solid var(--charon-gray);
}

#admin .admin-icon {
    width: 120px;
}

/*
======================
    ADMIN PRODUCTS
======================
*/

#admin .list-card {
    border-radius: 4px;
    border: 1px solid var(--charon-gray);
    transition: 0.3s ease;
}

#admin .list-card .data input, #admin .list-card .data select {
    border: 1px solid var(--charon-gray);
    padding: 5px;
    width: 200px;
}

#admin .list-card .data input[type="number"] {
    width: 180px;
}

#admin .list-card .data input:focus {
    outline: 0px;
}

#admin .list-card .preview-image-container {
    width: 120px;
    height: 120px;
}

#admin .list-card .preview-image {
    width: 120px;
    height: 120px;
    border-top-left-radius: 4px;
    object-fit: cover;
}

#admin .list-card .preview-image-label {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease;
    opacity: 0;
}

#admin .list-card .preview-image-label:hover {
    opacity: 1;
}

#admin .list-card .preview-image-label .label-bg {
    width: 100%;
    height: 100%;
    background: var(--queequeg-blue);
    opacity: .6;
    position: absolute;
    border-top-left-radius: 4px;
}

#admin .list-card .preview-image-label svg {
    stroke-width: 2px;
    stroke: white;
    width: 50%;
    z-index: 1;
}

#admin .list-card input[type='file'] {
    display: none;
}

#admin .id {
    font-family: Poppins, sans-serif;
    color: var(--ahab-gray);
    font-size: 12px;
    transform: translateX(-5px);
}

#admin .id.white {
    color: white;
}

#admin .list-card .data .currency {
    font-size: 20px;
}

#admin form .update {
    background-color: var(--ishmael-blue);
    color: white;
    border: 0px;
    border-radius: 100px;
    transition: 0.3s ease;
}

#admin form .update:hover {
    background-color: var(--ricardo-blue);
}

#admin form .delete {
    background-color: var(--aleph-red2);
    color: white;
    border: 0px;
    border-radius: 100px;
    transition: 0.3s ease;
}

#admin form .delete:hover {
    background-color: var(--aleph-red);
}

#admin .list-card.deleted {
    background-color: var(--charon-gray);
}

#admin .filter-selector button, #admin .filter-selector select {
    color: var(--starbuck-black);
    background-color: white;
    border-width: 2px;
    border-color: var(--charon-gray);
    font-weight: 600;
    font-size: 18px;
    height: 50px;
    transition: 0.3s ease;
    border-radius: 0px;
}

#admin .filter-selector button:hover, #admin .filter-selector select:hover {
    border-color: var(--charon-gray);
    background-color: var(--smee-gray);
    color: var(--starbuck-black);
}

#admin .filter-selector .selector-start {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0px;
}

#admin .filter-selector .selector-end {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0px;
}

#admin .filter-selector .bordered {
    border-radius: 5px;
}

.order .delete {
    color: var(--ishmael-blue);
    font-size: 30px;
    transform: translate(-45%, -55%);
    transition: 0.3s ease;
    padding: 0px;
    border-width: 0px;
    background-color: transparent;
}

.order .delete.order-delete {
    transform: translate(-50%, -45%);
    font-size: 40px;
}

.order .delete:hover {
    color: var(--aleph-red2);
    transform: translate(-45%, -55%) scale(120%);
}

.order .delete.order-delete:hover {
    color: var(--aleph-red2);
    transform: translate(-50%, -45%) scale(120%);
}

/*
======================
    TOASTS
======================
*/

.toast-header .success {
    color: var(--zayin-green2);
}

.toast-header .error {
    color: var(--aleph-red2);
}

.toast-header .info {
    color: var(--ishmael-blue);
}

/*
======================
    ADMIN SALES
======================
*/

.sale, .coupon {
    background: linear-gradient(90deg, var(--stubb-blue), var(--pip-blue));
    border-radius: 30px;
    box-shadow: 0 1px 5px 0 var(--ahab-gray-50);
}

.sale {
    min-height: 200px;
}

.sale .sale-name {
    font-size: 32px;
    color: var(--queequeg-blue);
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

.sale .sale-length {
    font-size: 20px;
    color: var(--ricardo-blue);
    font-family: Poppins, sans-serif;
}

.sale .sale-description {
    font-size: 16px;
}

#admin .sale, #admin .coupon {
    border-radius: 4px;
    transition: 0.3s ease;
}

#admin .sale input:not([type="submit"]), #admin .sale textarea, #admin .sale select, #admin .coupon input:not([type="submit"]), #admin .coupon select {
    border-radius: 100px;
    border: 1px solid var(--stubb-blue);
    padding: 5px 10px;
}

#admin .sale textarea {
    padding: 5px 15px;
    font-size: 12px;
    height: 80px;
}

#admin .sale input[type="number"], #admin .coupon input[type="number"] {
    width: 115px;
}

/*
======================
    ADMIN USERS
======================
*/

#admin .user-card .preview-image-container, #admin .user-card .preview-image {
    width: 160px;
    height: 160px;
}