/* Global variables */
:root {
    /* Primary */
    --ishmael-blue: #1D63ED;
    --queequeg-blue: #00084D;
    --pequod-blue: #8BC7F5;

    /* Secondary */
    --heathcliff-purple: #7D2EFF;
    --ricardo-blue: #0C49C2;
    --stubb-blue: #A2BEF6;
    --pip-blue: #E5F2FC;
    --docker-gradient: linear-gradient(90deg, var(--queequeg-blue), var(--ishmael-blue));

    /* Accent */
    --starbuck-black: #17191E;
    --mermaid-gray: #393f49;
    --vergilius-gray: #677285;
    --ahab-gray: #81838F;
    --charon-gray: #C4C8D1;
    --smee-gray: #EFEFF2;
    --pallid-white: #F5FAFE;
    --pilot-white: #F9F9FA;

    --ahab-gray-50: rgba(129, 131, 143, 50%);

    /* Confirm */
    --zayin-green: #2E7F74;
    --zayin-green2: #3BA08D;

    /* Notice */
    --he-yellow: #B0A600;
    --he-yellow2: #DDC500;

    /* Warning */
    --aleph-red: #7F2E39;
    --aleph-red2: #A03B4E;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 600;
}

* {
    font-family: Roboto, sans-serif;
}

/*
======================
        GLOBAL
======================
*/

h1, h2, h3, h4, h5 {
    font-family: Poppins, sans-serif;
}

h1 {
    color: var(--queequeg-blue);
    font-weight: bold;
    font-size: clamp(32px, 7vw, 100px);
    text-align: center;
    line-height: 1em;
}

h2 {
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    background: var(--docker-gradient);
    background-clip: text;
    font-size: 24px;
    letter-spacing: -1.25px;
    display: inline-block;
}

h3 {
    font-weight: bold;
    font-size: clamp(32px, 7vw, 60px);
    color: black;
}

h4 {
    font-weight: bold;
    font-size: clamp(32px, 7vw, 50px);;
    color: var(--queequeg-blue);
}

h5 {
    font-weight: 500;
    font-size: 20px;
    color: var(--queequeg-blue);
}

p {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: var(--mermaid-gray);
}

.btn-selected {
    color: white;
    background-color: var(--ishmael-blue);
    border-width: 0px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    padding: .6rem 1.2rem;
}

.btn-selected:hover {
    color: white;
    background-color: var(--ricardo-blue);
}

.btn-normal {
    color: var(--starbuck-black);
    background-color: white;
    border-width: 2px;
    border-color: var(--charon-gray);
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    padding: .6rem 1.2rem;
}

.btn-normal:hover {
    border-color: var(--charon-gray);
    background-color: var(--smee-gray);
    color: var(--starbuck-black);
}

.btn-cookies {
    color: var(--ishmael-blue);
    background-color: var(--smee-gray);
    border-color: var(--ishmael-blue);
    font-size: small;
    border-radius: 0px;
    padding: .5rem 1.5rem;
}

.btn-cookies:hover {
    background-color: var(--ishmael-blue);
    color: white;
}

.btn-pilled {
    border-radius: 100px;
    border-width: 0px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .25);
}

.btn svg {
    width: 25px;
    fill: var(--ishmael-blue);
}

.btn-selected svg {
    fill: white;
}

.undraggable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.lead {
    color: var(--queequeg-blue);
    font-weight: 500;
    font-size: clamp(18px, 4vw, 24px);
}

a.arrow {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease;
    color: var(--ishmael-blue);
}

a.arrow:hover {
    text-decoration: underline;
    color: var(--queequeg-blue);
}

/*
======================
        HEADER
======================
*/

header {
    border-bottom: 2px solid var(--charon-gray);
    background-color: white;
    transition: 0.3s ease;
}

header.hidden {
    transform: translateY(-100%);
}

.navbar-brand img {
    height: 35px;
}

.navbar-nav > li > a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navbar-nav > li > a:hover {
    text-decoration: none;
    color: black;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-chevron {
    width: 1em;
    transition: 0.3s ease;
}

.show > .dropdown-chevron {
    transform: rotate(180deg);
}

.navbar-right svg {
    height: 30px;
}

/*
======================
        MAIN
======================
*/

main section:last-child {
    padding-bottom: calc(4% + 5vw - 4px);
}

.wave-separator::before {
    background-position: bottom;
    -webkit-mask-image: url(/svg/footerbefore.svg);
    mask-image: url(/svg/footerbefore.svg);
    -webkit-mask-position: bottom;
    mask-position: bottom;
    background-color: inherit;
    content: "";
    height: 5vw;
    -webkit-mask-size: auto 100%;
    mask-size: auto 100%;
    position: absolute;
    width: 100%;
    padding: 0px;
    z-index: 1;
    top: calc(-5vw + 2px);
    left: 0;
}

.wave-separator {
    position: relative;
}

/*
======================
        FOOTER
======================
*/

footer {
    background-color: var(--pilot-white);
    position: relative;
    padding: 3rem 6rem;
}

.footerUpper ul {
    list-style-type: None;
    padding: 0px;
    width: fit-content;
}

.footerUpper ul li:not(:last-child) { 
    margin-bottom: 5px;  
}

.footerUpper ul li.footerLinkListHead { 
    margin-bottom: 15px;
    font-family: Poppins, sans-serif;
    color: var(--mermaid-gray);
    font-size: 18px;
}

.footerUpper .footerLast { 
    width: fit-content;
}

.footerUpper a {
    text-decoration: none;
    color: var(--mermaid-gray);
}

.footerUpper a:hover {
    text-decoration: underline;
}

footer .logo {
    height: 40px;
}

.footerLower {
    border-top: 1px solid var(--smee-gray);
}

.footerLower ul {
    list-style-type: None;
    padding: 0px;
    margin: 0px;
}

.footerLower .socialMedia a {
    transition: 0.3s ease;
}

.footerLower .socialMedia a:hover {
    opacity: 0.5;
}

.footerLower .socialMedia svg {
    width: 30px;
}

.footerLower .copyright li {
    color: var(--mermaid-gray);
    font-size: 12px;
    position: relative;
}

.footerLower .copyright li a {
    text-decoration: underline;
    color: var(--mermaid-gray);
}

.footerLower .copyright li:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
}

.footerLower .copyright li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 50%;
    border-right: 1px solid var(--mermaid-gray);
}

/*
======================
    REVIEWS
======================
*/

.review {
    border-radius: 20px;
    max-width: 450px;
    background-color: var(--pallid-white);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .25);
    border-width: 0px;
}

.review img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
}

.review .card-title {
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: var(--docker-gradient);
    background-clip: text;
    width: fit-content;
}

.review .card-subtitle {
    color: var(--ishmael-blue) !important;
    font-size: 1.2rem;
}

.review .card-body {
    padding-left: 0px;
}

.review .card-text {
    color: var(--queequeg-blue);
}

/*
======================
    PRODUCTS
======================
*/

.product {
    max-width: 200px;
    border-radius: 15px;
    border-width: 0px;
    box-shadow: 0 1px 5px 0 var(--ahab-gray-50);
    background-color: var(--pallid-white);
    position: relative;
    overflow: hidden;
}

.product img {
    border-radius: 15px 15px 0px 0px;
}

.product .card-title {
    border-radius: 15px 15px 0px 0px;
    font-size: 24px;
    z-index: 2;
}

.product .card-subtitle {
    color: var(--ahab-gray);
    font-family: Poppins, sans-serif;
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 20px;
    z-index: 2;
}

.product .typeicon {
    position: absolute;
    fill: var(--pequod-blue);
    stroke: var(--pequod-blue);
    stroke-width: 0px;
    opacity: 35%;
    max-width: 100px;
    bottom: 0;
    right: 0;
    transform: rotate(-15deg) translate(25%, 25%);
    z-index: 1;
}

/*
======================
        HOMEPAGE
======================
*/

/*
======================
        BANNER
======================
*/

#home #banner {
    background-image: url(/svg/DockerWave.svg);
    background-position: center clamp(150px, calc(12vw + 100px), 600px);
    background-size: cover;
    background-repeat: no-repeat;
}

#home #banner .bannerContainer {
    width: 100%;
    height: fit-content;
    padding-bottom: 38%;
}

#home #banner .bannerContainer img {
    width: 60vw;
}

/*
======================
    WHAT IS DOCKEREATS
======================
*/

#home #whatis {
    background-color: var(--pilot-white);
    padding-top: 5vw;
    padding-bottom: 6vw;
}

#home #whatis .whatisBody {
    padding: 0px 7vw;
}

#home #whatis .whatisImage {
    border-radius: 20px;
    background-color: var(--pallid-white);
    border: 1px solid var(--charon-gray);
    min-height: 400px;
    height: auto;
}

#home #whatis .whatisImage img {
    width: 120%;
    transform: translate(10%, 10%);
}

/*
======================
    WHY ORDER DOCKEREATS
======================
*/

#home #whyorder {
    background-color: white;
    padding-top: 5vw;
    padding-bottom: 6vw;
}

#home #whyorder .siteNumbers h3 {
    margin-bottom: 0px;
    font-size: clamp(60px, 10vw, 80px);
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: var(--docker-gradient);
    background-clip: text;
    display: inline-block;
    line-height: 0.8em;
    margin-top: 2vw;
}

#home #whyorder .siteNumbers p {
    color: var(--queequeg-blue);
    font-size: 20px;
    margin-bottom: 0px;
}

/*
======================
    GET STARTED
======================
*/

#home #getstarted {
    position: relative;
    background-color: var(--smee-gray);
    padding-top: 5vw;
    padding-left: 7vw;
    padding-right: 7vw;
}

#home #getstarted h2 {
    width: fit-content;
}

#home #getstarted svg {
    width: 40px;
    stroke: var(--ishmael-blue);
    stroke-width: 1.5px;
}

#home #getstarted .filled {
    background-color: var(--ishmael-blue);
    border-radius: 24px;
    padding: 90px 60px;
}

#home #getstarted .filled h4, #home #getstarted .filled h5 {
    color: white;
}

#home #getstarted .filled .btn-selected {
    padding: .8rem 2rem;
    background-color: white;
    color: var(--ishmael-blue);
}

#home #getstarted .filled .btn-selected:hover {
    background-color: var(--smee-gray);
}

/*
======================
        PRODUCTS PAGE
======================
*/

/*
======================
        BANNER
======================
*/

#productlist #banner {
    background-color: var(--pilot-white);
}

/*
======================
        PRODUCT LIST
======================
*/

#productlist #list {
    background-color: white;
}

#productlist #list .categoryRow {
    background-color: white;
    padding-left: 7vw;
    padding-right: 7vw;
    position: relative;
}

#productlist #list .categoryRow.grayed {
    background-color: var(--pilot-white);
}

#productlist #list .categoryName {
    font-size: 28px;
}

#productlist #list .productsCategory {
    border-top: 1px solid var(--charon-gray);
}

#productlist #list .productsCategory .product {
    transition: 0.3s ease;
}

#productlist #list .productsCategory .product:hover {
    transform: translateY(-0.5rem);
}