/* Global variables */
:root {
    /* Primary */
    --ishmael-blue: #1D63ED;
    --queequeg-blue: #00084D;
    --pequod-blue: #8BC7F5;

    /* Secondary */
    --heathcliff-purple: #7D2EFF;
    --ricardo-blue: #0C49C2;
    --stubb-blue: #A2BEF6;
    --pip-blue: #E5F2FC;
    --docker-gradient: linear-gradient(90deg, var(--queequeg-blue), var(--ishmael-blue));

    /* Accent */
    --starbuck-black: #17191E;
    --mermaid-gray: #393f49;
    --vergilius-gray: #677285;
    --ahab-gray: #81838F;
    --charon-gray: #C4C8D1;
    --smee-gray: #EFEFF2;
    --pallid-white: #F5FAFE;
    --pilot-white: #F9F9FA;

    /* Confirm */
    --zayin-green: #2E7F74;
    --zayin-green2: #3BA08D;

    /* Notice */
    --he-yellow: #B0A600;
    --he-yellow2: #DDC500;

    /* Warning */
    --aleph-red: #7F2E39;
    --aleph-red2: #A03B4E;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 600;
}

* {
    margin: 0px;
    font-family: Roboto, sans-serif;
}

/*
======================
        GLOBAL
======================
*/

h1, h2 {
    font-family: Poppins, sans-serif;
}

h1 {
    color: var(--queequeg-blue);
    font-weight: bold;
    font-size: clamp(32px, 7vw, 100px);
    text-align: center;
    line-height: 1em;
}

h2 {
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    background: var(--docker-gradient);
    background-clip: text;
    font-size: 24px;
    font-family: Poppins, sans-serif;
    letter-spacing: -1.25px;
    width: fit-content;
}

.btn-selected {
    color: white;
    background-color: var(--ishmael-blue);
    border-width: 0px;
    font-weight: 600;
    border-radius: 10px;
    padding: .6rem 1.2rem;
}

.btn-selected:hover {
    background-color: var(--ricardo-blue);
}

.btn-normal {
    color: var(--starbuck-black);
    background-color: white;
    border-width: 2px;
    border-color: var(--charon-gray);
    font-weight: 600;
    border-radius: 10px;
    padding: .6rem 1.2rem;
}

.btn-normal:hover {
    background-color: var(--smee-gray);
}

.btn-cookies {
    color: var(--ishmael-blue);
    background-color: var(--smee-gray);
    border-color: var(--ishmael-blue);
    font-size: small;
    border-radius: 0px;
    padding: .5rem 1.5rem;
}

.btn-cookies:hover {
    background-color: var(--ishmael-blue);
    color: white;
}

.undraggable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*
======================
        HEADER
======================
*/

header {
    padding: 15px 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid var(--charon-gray);
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    transition: 0.3s ease;
}

header.hidden {
    transform: translateY(-100%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: None;
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 30px 20px 20px;
}

nav ul li a:hover {
    text-decoration: none;
    color: black;
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .logo img {
    height: 35px;
}

.headerIcon {
    height: 30px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-chevron {
    width: 1em;
    transition: 0.3s ease;
}

.show .dropdown-chevron {
    transform: rotate(180deg);
}

/*
======================
        MAIN
======================
*/

main section {
    margin: auto;
}

main section:last-child {
    padding-bottom: calc(4% + 5vw - 4px);
}

/*
======================
        FOOTER
======================
*/

footer::before {
    background-position: bottom;
    -webkit-mask-image: url(/svg/footerbefore.svg);
    mask-image: url(/svg/footerbefore.svg);
    -webkit-mask-position: bottom;
    mask-position: bottom;
    background-color: inherit;
    content: "";
    height: 5vw;
    -webkit-mask-size: auto 100%;
    mask-size: auto 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: calc(-5vw + 2px);
}

footer {
    background-color: var(--pilot-white);
    position: relative;
}

.footerContainer {
    margin: 0px 120px;
    padding: 60px 0px 120px;
}

.footerUpper {
    display: flex;
    justify-content: space-between;
}

.footerUpperLinks {
    display: flex;
    gap: 120px;
}

.footerUpperLinks div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footerUpperLinks ul {
    list-style-type: None;
    line-height-step: 20px;
    padding: 0px;
    margin: 0px;
}

.footerUpperLinks ul li:not(:last-child) { 
    margin-bottom: 5px;  
}

.footerUpperLinks ul li.footerLinkListHead { 
    margin-bottom: 15px;
    font-family: Poppins, sans-serif;
    color: var(--mermaid-gray);
    font-size: 18px;
}

.footerUpperLinks a {
    text-decoration: none;
    color: var(--mermaid-gray);
}

.footerUpperLinks a:hover {
    text-decoration: underline;
}

footer .logo {
    height: 40px;
}

.footerLower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    padding-top: 15px;
    border-top: 1px solid var(--smee-gray);
}

.footerLower ul {
    list-style-type: None;
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.footerLower .socialMedia {
    gap: 16px;
}

.footerLower .socialMedia svg {
    width: 30px;
}

.footerLower .copyright li {
    color: var(--mermaid-gray);
    font-size: 12px;
    position: relative;
}

.footerLower .copyright li a {
    text-decoration: underline;
    color: var(--mermaid-gray);
}

.footerLower .copyright li:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
}

.footerLower .copyright li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-30%);
    height: 50%;
    border-right: 1px solid var(--mermaid-gray);
}

/*
======================
        HOMEPAGE
======================
*/

#home .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0px 12vw;
    background-image: url(/svg/DockerWave.svg);
    background-position: center clamp(150px, calc(12vw + 100px), 600px);
    background-size: cover;
    background-repeat: no-repeat;
}

#home .banner .bannerText h1, p {
    margin: 0px;
}

#home .banner .bannerText p {
    color: var(--queequeg-blue);
    text-align: center;
    font-weight: 500;
    font-size: clamp(18px, 4vw, 24px);
}

#home .banner .bannerButtons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

#home .banner .bannerContainer {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: fit-content;
    padding-bottom: 50%;
}

#home .banner .bannerContainer img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
}

#home .whatis::before {
    background-position: bottom;
    -webkit-mask-image: url(/svg/footerbefore.svg);
    mask-image: url(/svg/footerbefore.svg);
    -webkit-mask-position: bottom;
    mask-position: bottom;
    background-color: inherit;
    content: "";
    height: 5vw;
    -webkit-mask-size: auto 100%;
    mask-size: auto 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: calc(-5vw + 2px);
}

#home .whatis {
    background-color: var(--pilot-white);
    position: relative;
    padding-top: 40px;
}